
/* SAVE EVERYTHING BELOW*/
.content {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
    padding: 10px;
    width: 100%;
}

#display {
    width: 100%;
}

#slider {
    width: 100%;
}

.nav a{
    text-align: center;
} 